// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
  background: $body-bg !important;
  font-size: 14px;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #F2F7F9;

  &-bgray{
    background: $light-gray;
  }
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header-bgray .data p {
  padding: 20px;
  color: #000;
  display: inline-block;
  font-size: 16px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

img.inline {
  display: inline-block;
}

td {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

h2 {
  margin-bottom: 0;
}

.banner {
  background-color: #8FC8E3;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  p {
    color: #fff;
  }
}

.blue {
  color: $blue;
}

.f-18 {
  font-size: 18px;
}

.info-alert th {
  padding-bottom: 0;
}

.info-alert {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  background-color: #f2f7f9;
  border-left: solid 8px $blue;
}

.space-right img {
  padding-right: 8px;
}

.info-alert .text-container p.alert-text {
  margin-bottom: 0;
}

.footer {
  background-color: $ice-blue;
}

.footer {
  p {
    color: #6B6B6B;
    text-decoration: none;
    cursor: default;
  }
}

.footer-file {
  p {
    text-decoration: none;
    cursor: default;
    font-size: 16px;
  }
}

.rm-pb-th {
  th {
    padding-bottom: 0;
  }
}

.footer p>a.unlink,
footer p>a.unlink:hover,
footer p>a.unlink:active,
footer p>a.unlink:focus {
  color: #6B6B6B !important;
  text-decoration: none !important;
  cursor: default !important;
}

a.unlink,
a.unlink:hover,
a.unlink:active,
a.unlink:focus {
  color: $black !important;
  text-decoration: none !important;
  cursor: default !important;
}

hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.middle>* {
  display: inline;
  vertical-align: middle;
}

.m-0 {
  margin-bottom: 0;
}

a.link {
  color: #0071D1;
}

.pb-0,
.pb-0>td {
  padding-bottom: 0 !important;
}

table.callout {
  border-collapse: initial;
}

th.callout-inner.primary {
  background-color: #f2f7f9;
  border: solid 1px #dde6ee;
  border-radius: 4px;
  color: #222222;
}

.pt-48 {
  padding-top: 48px !important;
}

table.file-container {
  width: 980px !important;
}

.callout-date {
  background-color: $ice-blue !important;
  border: solid 1px $ice-blue !important;
  border-radius: 4px;
  color: #222222;

  .br-right {
    border-right: 1px solid $primary-color;
  }
}

th.product p {
  font-size: 18px;
}

th.PM-col-line p {
  line-height: 2;
  padding-right: 30px;
  text-align: justify;
}