// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
  font-size: 14px;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

img.inline{
  display: inline-block;
}

td{
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

h2{
  margin-bottom: 0;
}

.banner{
  background-color: #8FC8E3;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding-left: 8px;
}

.banner p{
  color: #fff;
}

.blue{
  color: $blue;
}

.f-18{
  font-size: 18px;
}

.info-alert p,.info-alert th{
  padding-bottom: 0;
}

.info-alert{
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  background-color: #F2F7F9;
}

.info-alert .bar{
  background-color: #00529B;
	height: 100%;
	width: 5px;
	position: absolute;
	left: .4px;
	top: 0;
}